@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Luckiest+Guy&display=swap");

@import "tailwindcss";
@tailwind utilities;

/* Ensure Tailwind knows to look for the .dark class at the root */
@custom-variant dark (&:where(.dark-mode, .dark-mode *));

/* brand colors and fonts */
@theme {
  --font-HIT: "Google Sans Flex", mono;
  --font-banner: "Luckiest Guy", mono;
  --color-primary-pink: #9c1e5c;
  --color-primary-orange: #f97316;
  /* ea580c optional orange */
}

.luckiest-text {
  font-family: "Luckiest Guy", sans-serif;
  font-kerning: normal; /* Forces the browser to use the font's internal kerning table */
  text-rendering: optimizeLegibility; /* Encourages high-quality kerning and ligatures */
}

/* 
ORDER MATTERS!
Tailwind builds CSS in this order:
   base → lowest specificity, ideal for element-level styles
   components → medium specificity, ideal for reusable classes
   utilities → highest specificity, ideal for atomic classes

   This ordering matters because later layers override earlier ones.
*/

/* use @layer base for global element resets and typography */
/* styling HTML tags */
@layer base {
  html,
  body,
  #root {
    @apply font-HIT flex min-h-screen w-full flex-col text-xs text-neutral-600 md:text-sm lg:text-base;
  }

  main {
    @apply flex-1;
  }

  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  p {
    @apply pt-2 text-xs md:text-sm lg:text-base;
  }

  a {
    @apply font-semibold underline;
  }

  select,
  input,
  textarea {
    @apply font-HIT mx-2 w-[200px] rounded-md border border-stone-200 bg-white px-1 py-1 pr-1 text-xs font-normal text-neutral-600 outline-none placeholder:text-stone-400 focus:ring-2 focus:ring-neutral-300 md:w-xs md:px-2 md:pr-2.5 md:text-sm lg:text-base;
  }

  input::selection,
  textarea::selection,
  select:focus-visible {
    @apply bg-orange-200;
  }

  label {
    @apply justify-baseline text-xs md:text-sm lg:text-base;
  }

  header {
    @apply flex w-full items-center justify-end gap-4 bg-neutral-900 p-2 px-5 text-xs text-neutral-100 md:text-base;
  }

  footer {
    @apply flex gap-4 bg-neutral-900 p-2 text-xs text-neutral-100 md:text-base;
  }

  button,
  .button {
    @apply inline-flex w-auto items-center justify-center self-center rounded-sm border border-neutral-100 text-nowrap text-neutral-100 shadow-inner focus:ring-2 focus:ring-neutral-300 active:bg-stone-300 disabled:cursor-not-allowed lg:rounded-md;
  }

  .dark select,
  .dark input,
  .dark textarea {
    @apply bg-neutral-300 text-neutral-800 placeholder:text-stone-600;
  }

  option {
    @apply text-neutral-800;
  }
}

/* use @layer components for reusable, styled UI components */
/* defining reusable classes */
/* dark-mode overrides using raw CSS need no @layer */
@layer components {
  .inputDiv {
    @apply col-span-2 mt-5 grid min-h-fit grid-cols-subgrid items-center gap-4 wrap-break-word;
  }

  .inputDiv > label {
    @apply whitespace-nowrap;
  }

  .logo {
    @apply bg-primary-pink font-banner flex max-h-[145px] items-center p-3 text-xl leading-0 tracking-normal text-white no-underline [text-rendering:optimizeLegibility] sm:text-2xl md:text-4xl lg:text-5xl;
  }

  .logo a {
    @apply text-white no-underline;
  }
  .dark .logo a {
    @apply text-neutral-900;
  }

  .siteName {
    @apply text-primary-orange font-banner font-extralight tracking-[0.06em];
  }

  .siteName {
    @apply text-[#ce6399];
  }

  button:hover,
  .button:hover {
    @apply brightness-90 transition;
  }

  button.primary,
  .button.primary {
    @apply bg-primary-orange;
  }

  button.primary:hover,
  .button.primary:hover {
    @apply bg-primary-orange;
  }

  button.secondary,
  .button.secondary {
    @apply bg-primary-pink;
  }

  button.neutral,
  .button.neutral {
    @apply bg-neutral-300 text-neutral-900;
  }

  .dark button.neutral {
    @apply bg-neutral-400;
  }

  button.invisible {
    @apply invisible;
  }

  button.small,
  .button.small {
    @apply h-4 px-1 text-[10px] md:h-6 md:text-xs lg:h-6 lg:px-2 lg:text-sm;
  }

  button.normal,
  .button.normal {
    @apply h-6 justify-self-center px-1 text-xs md:h-7 md:text-sm lg:h-8 lg:p-2;
    /* text-[10px] */
  }

  .filter input {
    @apply w-[300px] pl-1 lg:w-[350px] lg:pl-5 xl:w-[550px];
  }

  .filter {
    @apply flex overflow-x-hidden rounded-md p-1 text-sm uppercase md:text-xs lg:px-1 lg:py-1 lg:text-base;
  }

  .filter.orange {
    @apply bg-primary-orange;
  }

  .filter.pink {
    @apply bg-primary-pink! text-neutral-200;
  }

  a {
    @apply text-primary-pink;
  }

  .dark a {
    @apply text-primary-orange;
  }

  a.caret {
    @apply after:ml-0.5 after:content-['>'];
  }

  a.button {
    @apply pt-1 text-neutral-100;
  }

  a.header {
    color: white;
  }
}

/* no @layer at all when writing one‑off utility compositions that don’t need ordering guarantees. */
/* dark-mode overrides using raw CSS */
/* animations */
.icon {
  @apply text-primary-pink mr-2 mb-1 inline;
}

.dark .icon {
  /* color: #ce6399; */
  @apply text-primary-orange;
}

.postponed,
.cancelled {
  @apply font-semibold;
}

.postponed {
  @apply text-yellow-600;
}

.dark .postponed {
  @apply bg-yellow-600/50! text-neutral-200!;
}

.cancelled {
  @apply text-red-700;
}

.dark .cancelled {
  @apply bg-red-700/50! text-neutral-200!;
}

button.postpone {
  @apply bg-white font-semibold text-neutral-600 ring-2 ring-yellow-600 ring-inset;
}
button.postpone:hover {
  @apply bg-yellow-200 text-neutral-600 ring-yellow-700;
}

button.cancel {
  @apply bg-white font-semibold text-neutral-800 ring-2 ring-red-700 ring-inset;
}
button.cancel:hover {
  @apply bg-red-300 text-neutral-900 ring-red-800;
}

.delayedOrCancelled {
  @apply opacity-40;
}

.dark .delayedOrCancelled {
  @apply text-neutral-400! opacity-80;
}

.dark .filter {
  @apply bg-orange-400;
}

.size-logger {
  @apply bg-neutral-900;
}

.dark header,
.dark footer,
.dark .size-logger {
  @apply bg-neutral-700;
}

.dark main {
  @apply bg-neutral-500 text-neutral-100;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  @apply aspect-[0.75] w-[45px] animate-[loading_1s_infinite_linear] [background-size:20%_50%] [--c:linear-gradient(var(--color-neutral-600),_0_0)] [background:var(--c)_0%_50%,var(--c)_50%_50%,var(--c)_100%_50%];
}

h2.descriptor {
  font-weight: 400;
}

.datetime {
  width: 150px !important;
}

label.required::after {
  content: "*";
  margin-left: 1px;
  @apply text-red-700;
}

.dark label.required::after {
  @apply text-orange-500;
}

.contents > div {
  @apply bg-white p-1 text-xs text-wrap wrap-break-word lg:text-sm;
}

.dark .contents > div {
  @apply bg-neutral-500 text-neutral-100;
}

.tableHeading.pink > div {
  @apply bg-[#ce6399] font-bold text-black;
}

.tableHeading.orange > div {
  @apply bg-[#fab07b] font-bold text-black;
}

.dark .tableHeading > div {
  @apply text-neutral-100;
}

input[type="file"] {
  @apply w-70 md:w-100;
}

.dark input[type="file"] {
  @apply ml-[3px] border-0 shadow-none;

  &::file-selector-button {
    @apply bg-primary-pink ml-0 inline h-6 w-auto rounded-md border border-neutral-100 px-1 py-1 text-xs text-nowrap text-neutral-100 shadow-inner focus:ring-2 focus:ring-neutral-300 active:bg-stone-300 disabled:cursor-not-allowed md:h-8 md:px-4 md:text-sm lg:text-base;

    &:hover {
      @apply bg-primary-pink;
    }
  }
}

/* MODAL WINDOWS */
/* covering the background under the modal */
.overlay {
  @apply fixed inset-0 z-1000 flex min-h-screen w-full items-start justify-center overflow-y-auto bg-white/70 p-4 backdrop-blur-xs transition-all duration-500;
}

.dark .overlay {
  @apply bg-neutral-400/70;
}

/* the modal popup itself */
.modal {
  @apply relative my-4 max-h-[calc(100vh-2rem)] w-full max-w-2xl overflow-y-auto rounded-lg border bg-white px-14 py-11 shadow-lg sm:px-7 sm:py-7;
}

.dark .modal {
  @apply bg-neutral-500 text-neutral-200;
}

/* LOADING SPINNER */
.spinnerContainer {
  margin: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--color-primary-pink));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.spinnerFullpage {
  @apply my-10 flex min-h-[calc(100vh-5rem)] items-center justify-center;
}

.dark .spinnerFullpage {
  @apply bg-neutral-500;
}

button.filter-button {
  @apply bg-neutral-300 text-neutral-400;
}

button.filter-button:active,
button.filter-button.active {
  @apply text-primary-orange bg-white;
}

button.filter-button.active {
  @apply ring-primary-orange font-semibold ring-1 ring-inset;
}

div.dashboard-table {
  @apply mt-2 mb-10 grid gap-1 bg-neutral-200 p-1;
}

.dark div.dashboard-table {
  @apply bg-neutral-400 p-1;
}

.image-list {
  @apply bg-orange-600;
}

.image-item {
  @apply w-full border-2 border-neutral-300 bg-neutral-100 text-sm md:text-base;
}

@media (max-width: 767px) {
  .image-item {
    display: block;
    margin-inline: auto;
    max-width: 234px;
  }
}

.dark .image-item {
  @apply border-neutral-400 bg-neutral-600 text-neutral-300;
}

.image-banner {
  @apply border-neutral-200;
}

.dark .image-banner {
  @apply border-neutral-400;
}

.event-grid-item {
  @apply border-neutral-300;
}

.dark .event-grid-item {
  @apply border-neutral-400 bg-neutral-600 text-neutral-300;
}

.event-title {
  @apply text-primary-pink;
}

.dark .event-title {
  @apply text-primary-orange;
}

.dashboard-heading {
  @apply text-xs md:text-sm lg:text-base;
}
