@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Luckiest+Guy&display=swap");

@import "tailwindcss";
@tailwind utilities;

/* Ensure Tailwind knows to look for the .dark class at the root */
@custom-variant dark (&:where(.dark-mode, .dark-mode *));

/* brand colors and fonts */
@theme {
  --font-HIT: "Google Sans Flex", mono;
  --font-banner: "Luckiest Guy", mono;
  --primary-pink: #9c1e5c;
  --primary-orange: #f97316;
}

/* 
ORDER MATTERS!
Tailwind builds CSS in this order:
   base → lowest specificity, ideal for element-level styles
   components → medium specificity, ideal for reusable classes
   utilities → highest specificity, ideal for atomic classes

   This ordering matters because later layers override earlier ones.
*/

/* use @layer base for global element resets and typography */
/* styling HTML tags */
@layer base {
  html,
  body,
  #root {
    @apply flex min-h-screen w-full flex-col text-neutral-600;
    font-family: var(--font-HIT);
  }

  main {
    @apply flex-1;
  }

  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  p {
    @apply pt-2;
  }

  a {
    @apply font-semibold;
  }

  input,
  select,
  textarea {
    @apply w-xs rounded-md border border-stone-200 px-2 py-1 text-base shadow-inner placeholder:text-stone-400 focus:ring-2 focus:ring-neutral-300;
  }

  input::selection,
  textarea::selection,
  select:focus-visible {
    @apply bg-orange-300;
  }

  label {
    @apply justify-baseline text-base;
  }

  header {
    @apply flex w-full items-center justify-end gap-4 bg-neutral-900 p-2 px-5 text-neutral-100;
  }

  footer {
    @apply flex gap-4 bg-neutral-900 p-2 text-neutral-100;
  }

  button,
  .button {
    @apply inline w-auto rounded-md border border-neutral-100 text-nowrap text-neutral-100 shadow-inner focus:ring-2 focus:ring-neutral-300 active:bg-stone-300 disabled:cursor-not-allowed;
  }

  select,
  input,
  textarea {
    font-weight: 400;
    font-family: var(--font-HIT);
    outline: none;
    padding-right: 10px;
    background-color: white;
    @apply mx-2 rounded-md p-1 text-neutral-600;
  }

  option {
    @apply text-neutral-800;
  }
}

/* use @layer components for reusable, styled UI components */
/* defining reusable classes */
/* dark-mode overrides using raw CSS need no @layer */
@layer components {
  .inputDiv {
    @apply mt-5 grid grid-cols-[150px_1fr] items-center gap-4 wrap-break-word;
    min-height: fit-content;
    justify-content: flex-start;
  }

  .logo {
    @apply flex items-center p-3 text-2xl sm:text-3xl md:text-5xl lg:text-6xl;
    background-color: var(--primary-pink);
    color: white;
    font-family: var(--font-banner);
    max-height: 145px;
    line-height: 0%;
  }

  .siteName {
    font-family: var(--font-banner);
    font-weight: 200;
  }

  /* button:hover,
  .button:hover {
    transform: scale(1.1);
    font-weight: 600;
  } */

  button.primary,
  .button.primary {
    background-color: var(--primary-orange);
  }

  button.primary:hover,
  .button.primary:hover {
    background-color: #ea580c;
  }

  button.secondary,
  .button.secondary {
    background-color: #be185d;
  }

  button.secondary:hover,
  .button.secondary:hover {
    background-color: #831843;
  }

  button.neutral,
  .button.neutral {
    @apply bg-neutral-300 text-neutral-900;
  }

  button.neutral:hover,
  .button.neutral:hover {
    @apply bg-neutral-400;
  }

  button.small,
  .button.small {
    @apply h-6 px-2 py-1 text-sm md:h-8;
  }

  button.normal,
  .button.normal {
    @apply h-8 p-2 py-1 text-sm md:h-10 md:px-4 md:text-base;
  }

  .filter input {
    width: 550px;
  }

  .filter {
    background-color: var(--primary-orange);
    text-transform: uppercase;
    @apply flex w-full overflow-x-hidden p-3;
  }

  .textPink,
  a {
    color: var(--primary-pink);
  }

  a.caret::after {
    content: ">";
    margin-left: 2px;
  }

  a.button {
    @apply pt-1 text-neutral-100;
  }

  a.dashboard {
    color: white;
    text-decoration: underline;
  }
}

/* no @layer at all when writing one‑off utility compositions that don’t need ordering guarantees. */
/* dark-mode overrides using raw CSS */
/* animations */
.icon {
  @apply mr-2 mb-1 inline text-(--primary-pink);
}

.postponed,
.cancelled {
  @apply font-semibold;
}

.postponed {
  @apply text-yellow-600;
}

.cancelled {
  @apply text-red-700;
}

button.postpone {
  @apply bg-yellow-500 text-neutral-600;
}

button.cancel {
  @apply bg-red-700;
}

.delayedOrCancelled {
  @apply opacity-40;
}

.dark .filter {
  @apply bg-orange-400;
}

.dark .logo {
  background-color: rgb(from var(--primary-pink) r g b / 0.9);
  @apply text-neutral-900;
}

.dark header,
.dark footer {
  @apply bg-neutral-700;
}

.dark main {
  @apply bg-neutral-500 text-neutral-100;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(stone-600, 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

h2.descriptor {
  font-weight: 400;
}

.datetime {
  width: 150px !important;
}

label.required::after {
  content: "*";
  margin-left: 1px;
  @apply text-red-700;
}

.contents > div {
  @apply bg-white p-1 text-sm;
}

.tableHeading > div {
  @apply font-bold text-black;
  background-color: rgb(from var(--primary-pink) r g b / 0.5);
}

input[type="file"] {
  margin-left: 3px;
  border: none;
  box-shadow: none;

  &::file-selector-button {
    @apply ml-0 inline h-6 w-auto rounded-md border border-neutral-100 bg-(--primary-pink) px-1 py-1 text-sm text-nowrap text-neutral-100 shadow-inner focus:ring-2 focus:ring-neutral-300 active:bg-stone-300 disabled:cursor-not-allowed md:h-8 md:px-4 md:text-base;

    &:hover {
      background-color: var(--primary-pink);
    }
  }
}

/* MODAL WINDOWS */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white / 0.7;
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  overflow-y: auto;
  background-color: white;
  border-radius: var(--border-radius-lg);
  border: solid 0.5px;
  padding: 3.2rem 4rem;
  box-shadow: var(--shadow-lg);
}

@media (min-height: 500px) {
  .modal {
    top: 3rem;
    transform: translateX(-50%);
  }
}

/* LOADING SPINNER */
.spinnerContainer {
  margin: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--primary-pink));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.spinnerFullpage {
  margin: 2.5rem;
  height: calc(100vh - 5rem);
  background-color: white;
}
